body {
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Jacquard 12', cursive, Arial, sans-serif;
  line-height: 1.6;
  background-image: url(images/backround.jpg)
  
}
.main{

  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.nav {
  background-color: #333;
  color: #fff;
  
  text-align: center;
}
.ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  
}

.li {
  float: left;
  margin-right: 60px;
}
header{
  background-image: url(images/backround.jpg);
  padding: 20px 0;
  text-align: center;
  text-decoration: wavy;
  color: rgb(11, 11, 11);
  align-items: flex-start;
}
.home , .projects , .about-project {
   background-image: url(images/backround.jpg);
  padding: 20px 0;
  text-align: center;
  text-decoration: wavy;
  color: rgb(11, 11, 11);
  align-items: flex-start;
}